.header{
  width:100%;
  font-size:0.4rem;
  display: flex;
  align-items: center;
  padding:0 0.3rem;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  background: #fff;
  margin-bottom: 0.06rem;
  overflow: hidden;
  // position: fixed;
  left:0;
  top:0;
  z-index: 99;
  .logo{
    img{
      width:1.12rem;
      height:0.84rem;
    }
  }
  .title{
    font-size: 0.32rem;
    margin-left: 0.3rem;
  }
  
}