.detail{
  width:100%;
  height:auto;
  padding:0 0.36rem;
  padding-top: 0.96rem;
  background: #fff;
  box-sizing: border-box;
  .title{
    font-size: 0.6rem;
    font-weight: bold;
    padding:.3rem 0;
  }
  .authorInfo{
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
    p{
      margin-right: 0.2rem;
      display: flex;
      align-items: center;
      img{
        width:0.68rem;
        height:0.68rem;
        border-radius: 50%;
      }
    }
  }
  .otherInfo{
    font-size: 0.26rem;
    color: #b1b1b1;
    display: flex;
    align-items: center;
    span{
      display: flex;
      align-items: center;
      margin-right: 0.4rem;
    }
  }
  .content{
    position: relative;
    &::after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width:100%;
      height:2rem;
      background: linear-gradient(transparent,#fff);
    }
  }
  .lookAll{
    // position: absolute;
    // bottom: 0;
    color: #ea6f5a;
    width:100%;
    text-align: center;
    font-size: 0.28rem;
  }
  .star{
    font-size: 0.32rem;
    div{
      width:100%;
      text-align: center;
    }
    div:first-child{
      position: relative;
      p{
        position: relative;
        z-index: 10;
        background: #fff;
        padding:0 0.1rem;
        display: inline-block;
      }
      
    }
    div:last-child{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .line{
      position: absolute;
      width:100%;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      height:1px;
      background: #ddd;
      z-index: 1;
    }
  }
}